Repository ulaval/modul-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chuckmah, @fredduguay, @guignol1981

MODUL-992 - modification after code review
  src/components/tooltip/tooltip.stories.ts
Owners: @chuckmah, @fredduguay

MODUL-992 - fix build
  src/components/tooltip/__snapshots__/tooltip.stories.ts.snap
Owners: @chuckmah, @fredduguay

MODUL-992 - fix build
  src/components/tooltip/tooltip.stories.ts
Owners: @chuckmah, @fredduguay

Add snapshot tests in storybook for the m-tooltip component (#995)
  src/components/tooltip/__snapshots__/tooltip.stories.ts.snap
  src/components/tooltip/tooltip.stories.ts
Owners: @chuckmah, @fredduguay

MODUL-1094 - Code review 2
  src/components/form/form.ts
  src/sandboxes/form/form-external-validation.sandbox.ts
  src/utils/form/abstract-control.ts
  src/utils/form/control-error.ts
Owners: @guignol1981, @chuckmah, @fredduguay

MODUL-1067 - Traduction française des noms de pays
  src/components/phonefield/assets/all-countrie.fr.ts
Owners: @chuckmah, @fredduguay

MODUL-1067 - Selection selon la langue
  src/components/phonefield/assets/all-countries-en.ts
  src/components/phonefield/assets/all-countries-fr.ts
  src/components/phonefield/phonefield.ts
Owners: @chuckmah, @fredduguay

MODUL-958: Créer un composant de bouton (m-calendar-button) pour le calendrier (#930)
  src/components/calendar/calendar-button/calendar-button.html
  src/components/calendar/calendar-button/calendar-button.scss
  src/components/calendar/calendar-button/calendar-button.ts
  src/components/calendar/calendar-renderer/base-calendar/__snapshots__/base-calendar.spec.ts.snap
  src/components/calendar/calendar-renderer/base-calendar/base-calendar.html
  src/components/calendar/calendar-renderer/base-calendar/base-calendar.scss
  src/components/calendar/calendar-renderer/base-calendar/base-calendar.ts
  src/components/calendar/calendar.ts
  src/components/timepicker/timepicker.html
  src/components/timepicker/timepicker.scss
  src/components/timepicker/timepicker.ts
Owners: @chuckmah, @fredduguay

MODUL-1080 : Ajouter l'attribut HTML max-length sur le <textarea> contenu à l'intérieur du <m-textfield> (#1011)
  src/components/character-count/__snapshots__/character-count.spec.ts.snap
  src/components/character-count/character-count.html
  src/components/character-count/character-count.ts
  src/components/form/__snapshots__/form.stories.ts.snap
  src/components/textarea/textarea.html
  src/components/textarea/textarea.ts
  src/components/textfield/__snapshots__/textfield.stories.ts.snap
  src/components/textfield/textfield.html
  src/components/textfield/textfield.stories.ts
  src/components/textfield/textfield.ts
Owners: @chuckmah, @fredduguay, @guignol1981

Réparer la period-picker qui fonctionnait mal en général avec hide-internal-error-message et skip-input-validation. (#1012)
  src/components/daterangepicker/daterangepicker.html
  src/components/daterangepicker/daterangepicker.sandbox.ts
  src/components/daterangepicker/daterangepicker.spec.ts
  src/components/daterangepicker/daterangepicker.ts
  src/components/periodpicker/periodpicker.html
  src/components/periodpicker/periodpicker.sandbox.ts
  src/components/periodpicker/periodpicker.spec.ts
  src/components/periodpicker/periodpicker.ts
  src/utils/modul-date/modul-date.ts
Owners: @chuckmah, @fredduguay

MODUL-1088: ajouter un entete en version mobile au datepicker (#1022)
  src/components/datepicker/datepicker.html
  src/components/datepicker/datepicker.scss
Owners: @chuckmah, @fredduguay

MODUL-1090 - Adding sounding names to media queries (#1024)
  src/mixins/media-queries/media-queries.ts
  src/styles/variables/_var-media-queries.scss
  src/utils/media-queries/media-queries.ts
Owners: @chuckmah, @fredduguay

MODUL-1091: Supprimer la marge à droite du m-add lorsqu'il n'y a aucun contenu (#1025)
  src/components/accordion-group/__snapshots__/accordion-group.stories.ts.snap
  src/components/add/__snapshots__/add.stories.ts.snap
  src/components/error-message/__snapshots__/error-message.spec.ts.snap
  src/components/error-pages/error-access-denied/__snapshots__/error-access-denied.stories.ts.snap
  src/components/error-pages/error-browser-not-supported/__snapshots__/error-browser-not-supported.stories.ts.snap
  src/components/error-pages/error-config-not-supported/__snapshots__/error-config-not-supported.stories.ts.snap
  src/components/error-pages/error-cookies-not-supported/__snapshots__/error-cookies-not-supported.stories.ts.snap
  src/components/error-pages/error-page-not-found/__snapshots__/error-page-not-found.stories.ts.snap
  src/components/error-pages/error-technical-difficulty/__snapshots__/error-technical-difficulty.stories.ts.snap
  src/components/link/__snapshots__/link.stories.ts.snap
  src/components/link/link.html
  src/components/link/link.scss
  src/components/page-not-found/__snapshots__/page-not-found.spec.ts.snap
  src/components/pagination/__snapshots__/pagination.stories.ts.snap
  src/components/repeater/__snapshots__/repeater.stories.ts.snap
  src/components/session-expired/__snapshots__/session-expired.spec.ts.snap
Owners: @chuckmah, @fredduguay

MODUL-1093 - fix snapshot test
  src/components/tooltip/__snapshots__/tooltip.stories.ts.snap
Owners: @chuckmah, @fredduguay

MODUL-1093 - fix unable to reset form control with false-ish initial value (#1026)
  src/components/tooltip/__snapshots__/tooltip.stories.ts.snap
  src/utils/form/form-control.ts
Owners: @chuckmah, @fredduguay

MODUL-1096: delete padding sur la barre de progression (#1029)
  src/components/table/table.scss
Owners: @chuckmah, @fredduguay

Feature/modul 1094 1095 amelioration formulaires (#1031)
  src/components/form/form.html
  src/components/form/form.lang.en.json
  src/components/form/form.stories.ts
  src/components/form/form.ts
  src/sandboxes/form/form-complex.sandbox.ts
  src/sandboxes/form/form-external-validation.sandbox.html
  src/sandboxes/form/form-external-validation.sandbox.ts
  src/sandboxes/form/form-reactivity.sandbox.html
  src/sandboxes/form/form-reactivity.sandbox.ts
  src/utils/form/abstract-control.ts
  src/utils/form/control-error.ts
  src/utils/form/control-validator-validation-type.ts
  src/utils/form/form-array.ts
  src/utils/form/form-control.ts
  src/utils/form/form-group.spec.ts
  src/utils/form/form-group.ts
  src/utils/form/validation-guard.ts
  src/utils/form/validators/between/between.spec.ts
  src/utils/form/validators/between/between.ts
  src/utils/form/validators/compare/compare.spec.ts
  src/utils/form/validators/compare/compare.ts
  src/utils/form/validators/control-validator.ts
  src/utils/form/validators/date-between/date-between.spec.ts
  src/utils/form/validators/date-between/date-between.ts
  src/utils/form/validators/date-format/date-format.spec.ts
  src/utils/form/validators/date-format/date-format.ts
  src/utils/form/validators/email/email.spec.ts
  src/utils/form/validators/email/email.ts
  src/utils/form/validators/max-length/max-length.spec.ts
  src/utils/form/validators/max-length/max-length.ts
  src/utils/form/validators/max/max.spec.ts
  src/utils/form/validators/max/max.ts
  src/utils/form/validators/min-length/min-length.spec.ts
  src/utils/form/validators/min-length/min-length.ts
  src/utils/form/validators/min/min.spec.ts
  src/utils/form/validators/min/min.ts
  src/utils/form/validators/required/required.spec.ts
  src/utils/form/validators/required/required.ts
  src/utils/str/str.spec.ts
  src/utils/str/str.ts
Owners: @guignol1981, @chuckmah, @fredduguay

Release v1.0.0-beta.106
  package-lock.json
  package.json
Owners: @chuckmah

MODUL-1071 - Fix bugs
  src/components/rich-text-editor/adapter/vue-froala.scss
  src/components/rich-text-editor/adapter/vue-froala.ts
  src/components/rich-text-editor/rich-text-editor-options.ts
  src/components/rich-text-editor/rich-text-editor.ts
Owners: @chuckmah, @fredduguay

MODUL-1071 - Enlever le embedly
  src/components/rich-text-editor/adapter/vue-froala.ts
  src/components/rich-text-editor/rich-text-editor-options.ts
Owners: @chuckmah, @fredduguay

MODUL-1071 - enlever des commentaires
  src/components/rich-text-editor/adapter/vue-froala.ts
Owners: @chuckmah, @fredduguay

MODUL-1067 - Corrections coquilles dans les noms de pays
  src/components/phonefield/assets/all-countries-fr.ts
Owners: @chuckmah, @fredduguay

MODUL-1067 - Ordonner la liste et intégration des 2 champs
  src/components/phonefield/__snapshots__/phonefield.stories.ts.snap
  src/components/phonefield/phonefield.html
  src/components/phonefield/phonefield.lang.en.json
  src/components/phonefield/phonefield.lang.fr.json
  src/components/phonefield/phonefield.scss
  src/components/phonefield/phonefield.ts
Owners: @chuckmah, @fredduguay

MODUL-1067 - MAJ storybook
  src/components/phonefield/__snapshots__/phonefield.stories.ts.snap
Owners: @chuckmah, @fredduguay

MODUL-1067 - Ajout fonction utilitaire
  src/components/phonefield/phonefield.ts
Owners: @chuckmah, @fredduguay

Retravailler les marges sur l'affichage des messages dans le datepicker
  src/components/datepicker/datepicker.html
  src/components/datepicker/datepicker.scss
  src/components/datepicker/datepicker.ts
Owners: @chuckmah, @fredduguay

update tests
  src/components/datepicker/__snapshots__/datepicker.stories.ts.snap
  src/components/datepicker/datepicker.spec.ts
  src/components/form/__snapshots__/form.stories.ts.snap
  src/components/periodpicker/__snapshots__/periodpicker.stories.ts.snap
Owners: @chuckmah, @fredduguay, @guignol1981

added storybook actions addon
  conf/storybook/addons.ts
  package-lock.json
  package.json
  src/components/button/button.stories.ts
  src/components/decimalfield/decimalfield.stories.ts
  src/components/form/__snapshots__/form.stories.ts.snap
  src/components/moneyfield/__snapshots__/moneyfield.stories.ts.snap
  src/components/tooltip/__snapshots__/tooltip.stories.ts.snap
  src/components/tooltip/tooltip.stories.ts
Owners: @chuckmah, @fredduguay, @guignol1981

add favicon and logo
  conf/storybook/public/favicon.ico
  conf/storybook/public/logo-modul-05.png
  conf/storybook/public/logo-modul-fond-fonce.png
  conf/storybook/public/logo-modul-fond-pale.png
  package.json
Owners: @chuckmah, @fredduguay

added adon for background color
  conf/storybook/addons.ts
  package-lock.json
  package.json
  src/components/spinner/spinner.stories.ts
Owners: @chuckmah, @fredduguay

MODUL-1098 - Add emit blur
  src/components/datepicker/datepicker.stories.ts
  src/components/datepicker/datepicker.ts
Owners: @chuckmah, @fredduguay

MODUL-1100 - Ajouter la mixin css m-input-inline-spacing();
  src/components/dropdown/dropdown.scss
  src/components/textarea/textarea.scss
Owners: @chuckmah, @fredduguay

MODUL-1100 - Add timepicker
  src/components/timepicker/timepicker.scss
Owners: @chuckmah, @fredduguay

fix error when passing undefined value to the periodpicker
  src/components/periodpicker/periodpicker.ts
Owners: @chuckmah, @fredduguay

WIP welcome page for storybook
  conf/storybook/config.ts
  tests/storybook/welcome.stories.ts
  tests/storybook/welcome/welcome.html
  tests/storybook/welcome/welcome.scss
  tests/storybook/welcome/welcome.ts
Owners: @chuckmah, @fredduguay

MODUL-1067 - fix after code review
  package-lock.json
  package.json
  src/components/component-names.ts
  src/components/flag/__snapshots__/flag.stories.ts.snap
  src/components/flag/flag.html
  src/components/flag/flag.scss
  src/components/flag/flag.stories.ts
  src/components/flag/flag.ts
  src/components/input-mask/input-mask.ts
  src/components/phonefield/phonefield.html
  src/components/phonefield/phonefield.scss
  src/components/phonefield/phonefield.ts
  src/utils/svg/default-sprites.ts
Owners: @chuckmah, @fredduguay

MODUL-1067 - fix snapshot
  src/components/phonefield/__snapshots__/phonefield.stories.ts.snap
Owners: @chuckmah, @fredduguay

MODUL-1067 - Revue de code
  src/components/phonefield/phonefield.ts
  src/components/select/select-item/select-item.ts
  src/components/select/select.stories.ts
  src/components/select/select.ts
Owners: @chuckmah, @fredduguay

MODUL-1067 - Corrections J-P
  src/components/input-mask/input-mask.ts
  src/components/phonefield/__snapshots__/phonefield.stories.ts.snap
  src/components/phonefield/phonefield.html
  src/components/phonefield/phonefield.scss
Owners: @chuckmah, @fredduguay

MODUL-1067 - Cleanup du code
  src/components/phonefield/phonefield.ts
Owners: @chuckmah, @fredduguay

.github/CODEOWNERS:

* @chuckmah @fredduguay
/package.json @chuckmah
/package-lock.json @chuckmah

# m-form
/src/components/form/ @guignol1981
/utils/form/ @guignol1981
