Repository ulaval/modul-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chuckmah, @fredduguay, @guignol1981

.github/CODEOWNERS:

* @chuckmah @fredduguay
/package.json @chuckmah
/package-lock.json @chuckmah

# m-form
/src/components/form/ @guignol1981
/utils/form/ @guignol1981

welcome page storybook
  conf/storybook/config.ts
  package-lock.json
  tests/storybook/welcome.stories.ts
  tests/storybook/welcome/welcome.html
  tests/storybook/welcome/welcome.scss
Owners: @chuckmah, @fredduguay

fix snapshot storybook
  src/components/spinner/__snapshots__/spinner.stories.ts.snap
Owners: @chuckmah, @fredduguay

MODUL-1067 - maj cleave
  package-lock.json
  package.json
Owners: @chuckmah

MODUL-1067 - Coquille mineure orthographe
  src/components/phonefield/phonefield.lang.en.json
  src/components/phonefield/phonefield.lang.fr.json
Owners: @chuckmah, @fredduguay

MODUL-1098 - MAJ datepicker's storie
  src/components/datepicker/datepicker.stories.ts
Owners: @chuckmah, @fredduguay

MODUL-1106 - Add view prop to datepicker
  src/components/datepicker/datepicker.ts
Owners: @chuckmah, @fredduguay

MODUL-1067 - MAJ storybook
  src/components/phonefield/__snapshots__/phonefield.stories.ts.snap
Owners: @chuckmah, @fredduguay

MODUL-1067 - Text pour les flags
  src/components/phonefield/phonefield.html
  src/components/phonefield/phonefield.scss
  src/components/phonefield/phonefield.ts
  src/components/select/select.html
  src/components/select/select.ts
Owners: @chuckmah, @fredduguay

* clean up
  src/components/form/control-directive.ts
  src/components/form/form.html
  src/components/form/form.ts
  src/utils/form/abstract-control.ts
  src/utils/form/form-array.ts
  src/utils/form/form-group.ts
  src/utils/form/validators/control-validator.ts
Owners: @guignol1981, @chuckmah, @fredduguay

MODUL-1071 - maj CR et maj testes unitaires
  src/components/rich-text-editor/adapter/vue-froala.scss
  src/components/rich-text-editor/adapter/vue-froala.ts
  src/components/rich-text-editor/rich-text-editor-options.ts
  src/components/rich-text-editor/rich-text-editor.spec.ts
Owners: @chuckmah, @fredduguay

MODUL-1106 - MAJ
  src/components/datepicker/datepicker.ts
Owners: @chuckmah, @fredduguay

MODUL-1071 - MAJ version froala 3.0.0
  package-lock.json
  package.json
Owners: @chuckmah

MODUL-1067 - gestion model
  src/components/input-mask/input-mask.ts
  src/components/phonefield/phonefield.html
  src/components/phonefield/phonefield.stories.ts
  src/components/phonefield/phonefield.ts
Owners: @chuckmah, @fredduguay

MODUL-1098 - Amélioration du datepicker
  src/components/datepicker/__snapshots__/datepicker.stories.ts.snap
  src/components/datepicker/datepicker.html
  src/components/datepicker/datepicker.stories.ts
  src/components/datepicker/datepicker.ts
Owners: @chuckmah, @fredduguay

MODUL-1067 - revert lazy loading image
  src/components/phonefield/phonefield.html
  src/components/phonefield/phonefield.stories.ts
  src/components/phonefield/phonefield.ts
  src/components/select/select.html
  src/components/select/select.ts
Owners: @chuckmah, @fredduguay

fix error when passing undefined value to the periodpicker (#1036)
  src/components/periodpicker/periodpicker.ts
Owners: @chuckmah, @fredduguay

Remove extra margin at the bottom of the date picker when no message is present (#1034)
  src/components/datepicker/__snapshots__/datepicker.stories.ts.snap
  src/components/datepicker/datepicker.html
  src/components/datepicker/datepicker.scss
  src/components/datepicker/datepicker.spec.ts
  src/components/datepicker/datepicker.ts
  src/components/form/__snapshots__/form.stories.ts.snap
  src/components/periodpicker/__snapshots__/periodpicker.stories.ts.snap
Owners: @chuckmah, @fredduguay, @guignol1981

MODUL-1106 - Ajout de la structure de base pour l'ajout des années et des mois dans le calendrier
  src/components/calendar/calendar-state/state/abstract-calendar-state.ts
  src/components/calendar/calendar-state/state/calendar-state.ts
Owners: @chuckmah, @fredduguay

* clean up (#1038)
  src/components/form/control-directive.ts
  src/components/form/form.html
  src/components/form/form.ts
  src/utils/form/abstract-control.ts
  src/utils/form/form-array.ts
  src/utils/form/form-group.ts
  src/utils/form/validators/control-validator.ts
Owners: @guignol1981, @chuckmah, @fredduguay

MODUL-1067 - modification after code review
  src/components/phonefield/__snapshots__/phonefield.stories.ts.snap
  src/components/phonefield/phonefield.html
  src/components/phonefield/phonefield.lang.en.json
  src/components/phonefield/phonefield.lang.fr.json
  src/components/phonefield/phonefield.stories.ts
  src/components/phonefield/phonefield.ts
  src/components/select/select.scss
  src/components/select/select.ts
Owners: @chuckmah, @fredduguay

MODUL-1103 - Ajout skin arrondi
  src/components/toggle-buttons/__snapshots__/toggle-buttons.stories.ts.snap
  src/components/toggle-buttons/toggle-buttons.html
  src/components/toggle-buttons/toggle-buttons.sandbox.html
  src/components/toggle-buttons/toggle-buttons.sandbox.ts
  src/components/toggle-buttons/toggle-buttons.scss
  src/components/toggle-buttons/toggle-buttons.stories.ts
  src/components/toggle-buttons/toggle-buttons.ts
Owners: @chuckmah, @fredduguay

MODUL-1103 - Renommer constante
  src/components/toggle-buttons/toggle-buttons.stories.ts
Owners: @chuckmah, @fredduguay

Release v1.0.0-beta.107
  package-lock.json
  package.json
Owners: @chuckmah

fix openshift storybook
  package-lock.json
  package.json
Owners: @chuckmah

MODUL-1103 - Suppression snapshot
  src/components/toggle-buttons/__snapshots__/toggle-buttons.spec.ts.snap
  src/components/toggle-buttons/toggle-buttons.spec.ts
Owners: @chuckmah, @fredduguay

fix package lock
  package-lock.json
Owners: @chuckmah

fix optional true
  package-lock.json
Owners: @chuckmah

fix openshift storybook (#1042)
  package-lock.json
  package.json
Owners: @chuckmah

MODUL-1067 - merge with develop
  conf/storybook/addons.ts
  package-lock.json
  src/components/phonefield/phonefield.html
  src/components/phonefield/phonefield.lang.en.json
  src/components/phonefield/phonefield.lang.fr.json
  src/components/phonefield/phonefield.stories.ts
Owners: @chuckmah, @fredduguay

MODUL-1103 - Code review
  src/components/toggle-buttons/__snapshots__/toggle-buttons.stories.ts.snap
  src/components/toggle-buttons/toggle-buttons.html
  src/components/toggle-buttons/toggle-buttons.scss
  src/components/toggle-buttons/toggle-buttons.ts
Owners: @chuckmah, @fredduguay

MODUL-1106 - Ajouter la vue yearsMonths au base-calendar
  src/components/calendar/calendar-renderer/base-calendar/base-calendar.html
  src/components/calendar/calendar-renderer/base-calendar/base-calendar.scss
  src/components/calendar/calendar-renderer/base-calendar/base-calendar.ts
  src/components/calendar/calendar-state/state/abstract-calendar-state.ts
  src/components/calendar/calendar.html
  src/components/datepicker/datepicker.html
  src/components/datepicker/datepicker.lang.en.json
  src/components/datepicker/datepicker.lang.fr.json
Owners: @chuckmah, @fredduguay

MODUL-1106 - Maj des strories
  src/components/datepicker/datepicker.stories.ts
Owners: @chuckmah, @fredduguay

/MODUL-1106_datepicker-months-view:
  src/components/datepicker/datepicker.ts
Owners: @chuckmah, @fredduguay

MODUL-1067 - Mettre couleur transparent au lieu de none
  src/components/phonefield/phonefield.scss
Owners: @chuckmah, @fredduguay

MODUL-1067 - gestion focus m-select
  src/components/select/select.html
  src/components/select/select.scss
  src/components/select/select.stories.ts
  src/components/select/select.ts
Owners: @chuckmah, @fredduguay

Base implementation of time filter + tests
  conf/storybook/utils.ts
  src/components/table/table.stories.ts
  src/filters/date/date.sandbox.html
  src/filters/date/date.sandbox.ts
  src/filters/date/date.ts
  src/filters/date/time/__snapshots__/time.stories.ts.snap
  src/filters/date/time/time.lang.en.json
  src/filters/date/time/time.lang.fr.json
  src/filters/date/time/time.spec.ts
  src/filters/date/time/time.stories.ts
  src/filters/date/time/time.ts
  src/filters/filter-names.ts
  tests/polyfills.js
Owners: @chuckmah, @fredduguay

Réparer tests
  src/filters/date/date-time/date-time.spec.ts
  src/filters/date/time/__snapshots__/time.stories.ts.snap
Owners: @chuckmah, @fredduguay

Fixer les tests
  src/filters/date/date-time/date-time.lang.en.json
Owners: @chuckmah, @fredduguay

Remove test code
  src/filters/date/date-time/date-time.spec.ts
Owners: @chuckmah, @fredduguay

MODUL-1067 - Gestion du focus
  src/components/phonefield/__snapshots__/phonefield.stories.ts.snap
  src/components/phonefield/phonefield.html
  src/components/phonefield/phonefield.scss
  src/components/phonefield/phonefield.ts
  src/components/select/__snapshots__/select.stories.ts.snap
Owners: @chuckmah, @fredduguay
