Repository ulaval/modul-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chuckmah, @fredduguay, @guignol1981

.github/CODEOWNERS:

* @chuckmah @fredduguay
/package.json @chuckmah
/package-lock.json @chuckmah

# m-form
/src/components/form/ @guignol1981
/utils/form/ @guignol1981

MODUL-1067 - m-select implementation keyboard et animation
  src/components/select/select-item/select-item.html
  src/components/select/select-item/select-item.ts
  src/components/select/select.html
  src/components/select/select.stories.ts
  src/components/select/select.ts
  tests/storybook/welcome/welcome.html
Owners: @chuckmah, @fredduguay

MODUL-1067 - fix snpashot
  src/components/select/__snapshots__/select.stories.ts.snap
Owners: @chuckmah, @fredduguay

MODUL-1108 - Résoudre problème
  src/utils/modul/modul.ts
Owners: @chuckmah, @fredduguay

Réparer tests
  src/filters/date/time/__snapshots__/time.stories.ts.snap
Owners: @chuckmah, @fredduguay

Réparer snapshots
  src/filters/date/time/__snapshots__/time.stories.ts.snap
  tests/polyfills.js
Owners: @chuckmah, @fredduguay

Ajouter adresse field dans module (Work In Progress)
  src/components/address/VueLoqateAdapter.ts
  src/components/address/adresscomponent/AddressField.html
  src/components/address/adresscomponent/AddressField.scss
  src/components/address/adresscomponent/AddressField.ts
  src/components/address/loqate/LoqateFind.ts
  src/components/address/loqate/LoqateRetrieve.ts
Owners: @chuckmah, @fredduguay

Correction pour que le plugin compile
  src/components/address/adresscomponent/AddressField.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Added base structure for address-lookup service
  src/utils/address-lookup/address-lookup-loqate-service.ts
  src/utils/address-lookup/address-lookup-service.plugin.ts
  src/utils/address-lookup/address-lookup-service.ts
  src/utils/address-lookup/address.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - initial version for the address lookup service
  package-lock.json
  package.json
  src/utils/address-lookup/address-lookup-loqate-service.spec.ts
  src/utils/address-lookup/address-lookup-loqate-service.ts
  src/utils/address-lookup/address-lookup-service.plugin.ts
  src/utils/address-lookup/address-lookup-service.sandbox.html
  src/utils/address-lookup/address-lookup-service.sandbox.ts
  src/utils/address-lookup/address-lookup-service.ts
  yarn.lock
Owners: @chuckmah, @fredduguay

MODUL-1016 - Started Address lookup field component
  src/components/address-lookup-field/address-lookup-field.html
  src/components/address-lookup-field/address-lookup-field.stories.ts
  src/components/address-lookup-field/address-lookup-field.ts
  src/components/component-names.ts
  src/components/components-plugin.ts
  src/utils/address-lookup/address-lookup-loqate-service.ts
  src/utils/address-lookup/address-lookup-service.sandbox.html
  src/utils/address-lookup/address-lookup-service.sandbox.ts
  src/utils/address-lookup/address-lookup-service.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Implementation of address lookup service
  src/components/components-plugin.ts
  src/utils/address-lookup/address-lookup-loqate-service.spec.ts
  src/utils/address-lookup/address-lookup-loqate-service.ts
  src/utils/address-lookup/address-lookup-service.plugin.ts
  src/utils/address-lookup/address-lookup-service.sandbox.html
  src/utils/address-lookup/address-lookup-service.sandbox.ts
  src/utils/address-lookup/address-lookup-service.ts
  src/utils/address-lookup/address-lookup.plugin.ts
  src/utils/address-lookup/address.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Address lookup field with drillable addresses
  src/components/address-lookup-field/address-lookup-field.html
  src/components/address-lookup-field/address-lookup-field.scss
  src/components/address-lookup-field/address-lookup-field.stories.ts
  src/components/address-lookup-field/address-lookup-field.ts
  src/components/autocomplete/autocomplete.html
  src/components/autocomplete/autocomplete.ts
  src/components/dropdown/dropdown.ts
  src/utils/address-lookup/address-lookup-loqate-service.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Finalisation de la composante de recherche d'adresse et création de la composante d'affichage d'adresse
  .env.local
  src/components/address-lookup-field/address-lookup-field.html
  src/components/address-lookup-field/address-lookup-field.scss
  src/components/address-lookup-field/address-lookup-field.stories.ts
  src/components/address-lookup-field/address-lookup-field.ts
  src/components/address-reader/address-reader.html
  src/components/address-reader/address-reader.stories.ts
  src/components/address-reader/address-reader.ts
  src/components/component-names.ts
  src/components/dropdown/dropdown.ts
  src/utils/address-lookup/address-lookup-loqate-service.ts
  src/utils/address-lookup/address.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Added scoped slot for address
  src/components/address-reader/address-reader.html
  src/components/address-reader/address-reader.stories.ts
  src/components/address-reader/address-reader.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Ajustement pour le storybook du address Reader
  src/components/address-reader/address-reader.stories.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Refactor des magic strings pour utiliser des contantes
  src/components/address-reader/address-reader.stories.ts
  src/components/address-reader/address-reader.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Ajout d'un address-editor
  .env.local
  src/components/address-autocomplete-field/address-autocomplete-field.stories.ts
  src/components/address-autocomplete-field/address-autocomplete-field.ts
  src/components/address-editor/address-editor.html
  src/components/address-editor/address-editor.stories.ts
  src/components/address-editor/address-editor.ts
  src/components/address-lookup-field/address-lookup-field.ts
  src/components/address-reader/address-reader.stories.ts
  src/components/address-reader/address-reader.ts
  src/components/component-names.ts
  src/utils/address-lookup/address-lookup-loqate-service.ts
  src/utils/address-lookup/address.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Ajout de la composante d'address autocomplete
  src/components/address-autocomplete-field/address-autocomplete-field.html
  src/components/address-autocomplete-field/address-autocomplete-field.stories.ts
  src/components/address-autocomplete-field/address-autocomplete-field.ts
  src/components/address-lookup-field/address-lookup-field.html
  src/components/address-lookup-field/address-lookup-field.ts
  src/components/address-reader/address-reader.ts
  src/components/component-names.ts
  src/utils/address-lookup/address.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Finalisation de la composante d'autocomplete
  src/components/address-autocomplete-field/address-autocomplete-field.html
  src/components/address-autocomplete-field/address-autocomplete-field.stories.ts
  src/components/address-autocomplete-field/address-autocomplete-field.ts
  src/components/address-editor/address-editor.html
  src/components/address-editor/address-editor.stories.ts
  src/components/address-editor/address-editor.ts
  src/components/address-reader/address-reader.stories.ts
  src/components/address-reader/address-reader.ts
  src/utils/address-lookup/address-lookup-loqate-service.ts
  src/utils/address-lookup/address-lookup-service.ts
  src/utils/address-lookup/address.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Finalisation des composantes d'adresse et ajout des validations
  src/components/address-autocomplete-field/address-autocomplete-field.stories.ts
  src/components/address-editor/address-editor.html
  src/components/address-editor/address-editor.lang.en.json
  src/components/address-editor/address-editor.lang.fr.json
  src/components/address-editor/address-editor.stories.ts
  src/components/address-editor/address-editor.ts
  src/components/address-lookup-field/address-lookup-field.html
  src/components/address-lookup-field/address-lookup-field.lang.en.json
  src/components/address-lookup-field/address-lookup-field.lang.fr.json
  src/components/address-lookup-field/address-lookup-field.stories.ts
  src/components/address-lookup-field/address-lookup-field.ts
  src/components/address-reader/address-reader.html
  src/components/address-reader/address-reader.stories.ts
  src/components/address-reader/address-reader.ts
  src/components/address/VueLoqateAdapter.ts
  src/components/address/adresscomponent/AddressField.html
  src/components/address/adresscomponent/AddressField.scss
  src/components/address/adresscomponent/AddressField.ts
  src/components/address/loqate/LoqateFind.ts
  src/components/address/loqate/LoqateRetrieve.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/utils/address-lookup/address-lookup-loqate-service.spec.ts
  src/utils/address-lookup/address-lookup-service.sandbox.ts
  src/utils/address-lookup/address-lookup.plugin.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Retrait de la dépendance vers yarn
  package.json
Owners: @chuckmah

MODUL-1016 - retrait de la clé de loqate
  .env.local
Owners: @chuckmah, @fredduguay

MODUL-1016 - Retrait du yarn.lock
  yarn.lock
Owners: @chuckmah, @fredduguay

MODUL-1016 - Ajustements CR
  .env.local
  src/components/address-lookup-field/address-lookup-field.html
  src/components/address-lookup-field/address-lookup-field.stories.ts
  src/components/address-lookup-field/address-lookup-field.ts
  src/utils/address-lookup/address-lookup-service.sandbox.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Ajout des snapshots
  src/components/address-autocomplete-field/__snapshots__/address-autocomplete-field.stories.ts.snap
  src/components/address-editor/__snapshots__/address-editor.stories.ts.snap
  src/components/address-lookup-field/__snapshots__/address-lookup-field.stories.ts.snap
  src/components/address-reader/__snapshots__/address-reader.stories.ts.snap
Owners: @chuckmah, @fredduguay

MODUL-1008 - code review
  src/components/input-style/input-style.scss
  src/components/searchfield/searchfield.html
  src/components/searchfield/searchfield.spec.ts
  src/components/searchfield/searchfield.ts
  src/components/textfield/textfield.ts
  src/styles/mixins/_button.scss
  src/styles/variables/_var-input-style.scss
Owners: @chuckmah, @fredduguay

MODUL-1098 - MAJ test unitaire
  src/components/datepicker/datepicker.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Déplacer fichier + Mieux arranger la gestion de la clé pour les tests + enlever withAlly / withknobs
  .env.local
  src/components/address/address-autocomplete-field/__snapshots__/address-autocomplete-field.stories.ts.snap
  src/components/address/address-autocomplete-field/address-autocomplete-field.html
  src/components/address/address-autocomplete-field/address-autocomplete-field.stories.ts
  src/components/address/address-autocomplete-field/address-autocomplete-field.ts
  src/components/address/address-editor/__snapshots__/address-editor.stories.ts.snap
  src/components/address/address-editor/address-editor.html
  src/components/address/address-editor/address-editor.lang.en.json
  src/components/address/address-editor/address-editor.lang.fr.json
  src/components/address/address-editor/address-editor.stories.ts
  src/components/address/address-editor/address-editor.ts
  src/components/address/address-lookup-field/__snapshots__/address-lookup-field.stories.ts.snap
  src/components/address/address-lookup-field/address-lookup-field.html
  src/components/address/address-lookup-field/address-lookup-field.lang.en.json
  src/components/address/address-lookup-field/address-lookup-field.lang.fr.json
  src/components/address/address-lookup-field/address-lookup-field.scss
  src/components/address/address-lookup-field/address-lookup-field.stories.ts
  src/components/address/address-lookup-field/address-lookup-field.ts
  src/components/address/address-reader/__snapshots__/address-reader.stories.ts.snap
  src/components/address/address-reader/address-reader.html
  src/components/address/address-reader/address-reader.stories.ts
  src/components/address/address-reader/address-reader.ts
  src/components/address/address.ts
  src/components/components-plugin.ts
  src/lang/en.ts
  src/lang/fr.ts
  src/lib.ts
  src/utils/address-lookup/address-lookup-service.sandbox.ts
  src/utils/address-lookup/address-lookup.plugin.ts
Owners: @chuckmah, @fredduguay

MODUL-1016 - Fix tests
  src/components/address/address-autocomplete-field/__snapshots__/address-autocomplete-field.stories.ts.snap
  src/components/address/address-lookup-field/__snapshots__/address-lookup-field.stories.ts.snap
  src/components/form/__snapshots__/form.stories.ts.snap
Owners: @chuckmah, @fredduguay, @guignol1981

MODUL-1103 - Code review
  src/components/toggle-buttons/toggle-buttons.stories.ts
  src/components/toggle-buttons/toggle-buttons.ts
Owners: @chuckmah, @fredduguay

MODUL-1008 - clean up
  src/components/components-plugin.ts
  src/components/input-style/input-style.scss
  src/components/searchfield/searchfield.stories.ts
  src/components/searchfield/searchfield.ts
Owners: @chuckmah, @fredduguay

MODUL-1008 - fixes snapshots
  src/components/datepicker/__snapshots__/datepicker.stories.ts.snap
  src/components/form/__snapshots__/form.stories.ts.snap
  src/components/moneyfield/__snapshots__/moneyfield.stories.ts.snap
  src/components/searchfield/__snapshots__/searchfield.stories.ts.snap
  src/components/textfield/__snapshots__/textfield.stories.ts.snap
Owners: @chuckmah, @fredduguay, @guignol1981

MODUL-1008 - quick fix, border transition duration
  src/components/input-style/input-style.scss
Owners: @chuckmah, @fredduguay

MODUL-1106 - Intégration de la nouvelle vue mois
  src/components/calendar/calendar-renderer/base-calendar/base-calendar.html
  src/components/calendar/calendar-renderer/base-calendar/base-calendar.scss
  src/components/calendar/calendar-renderer/base-calendar/base-calendar.spec.ts
  src/components/calendar/calendar-renderer/base-calendar/base-calendar.ts
  src/components/calendar/calendar.html
  src/components/calendar/calendar.ts
  src/components/datepicker/datepicker.html
  src/components/datepicker/datepicker.ts
Owners: @chuckmah, @fredduguay

MODUL-1008 - Code review
  src/components/input-style/input-style.scss
  src/components/searchfield/searchfield.html
  src/components/searchfield/searchfield.scss
  src/components/searchfield/searchfield.stories.ts
  src/components/searchfield/searchfield.ts
  src/styles/functions/_functions.scss
  src/styles/functions/_spacing.scss
Owners: @chuckmah, @fredduguay

MODUL-1008 - fixes snapshots >_<
  src/components/searchfield/__snapshots__/searchfield.stories.ts.snap
Owners: @chuckmah, @fredduguay

MODUL-1098: Cleanup code du datepicker (#1028)
  src/components/datepicker/__snapshots__/datepicker.stories.ts.snap
  src/components/datepicker/datepicker.html
  src/components/datepicker/datepicker.stories.ts
  src/components/datepicker/datepicker.ts
Owners: @chuckmah, @fredduguay

MODUL-1100 - Ajouter un margin-right automatique sur le dropdown et le textarea (#1035)
  src/components/dropdown/dropdown.scss
  src/components/textarea/textarea.scss
  src/components/timepicker/timepicker.scss
Owners: @chuckmah, @fredduguay

Feature/modul 1103 toggle button skin (#1040)
  src/components/toggle-buttons/__snapshots__/toggle-buttons.spec.ts.snap
  src/components/toggle-buttons/__snapshots__/toggle-buttons.stories.ts.snap
  src/components/toggle-buttons/toggle-buttons.html
  src/components/toggle-buttons/toggle-buttons.sandbox.html
  src/components/toggle-buttons/toggle-buttons.sandbox.ts
  src/components/toggle-buttons/toggle-buttons.scss
  src/components/toggle-buttons/toggle-buttons.spec.ts
  src/components/toggle-buttons/toggle-buttons.stories.ts
  src/components/toggle-buttons/toggle-buttons.ts
Owners: @chuckmah, @fredduguay

Base implementation of time filter + tests (#1043)
  conf/storybook/utils.ts
  src/components/table/table.stories.ts
  src/filters/date/date-time/date-time.lang.en.json
  src/filters/date/date-time/date-time.spec.ts
  src/filters/date/date.sandbox.html
  src/filters/date/date.sandbox.ts
  src/filters/date/date.ts
  src/filters/date/time/__snapshots__/time.stories.ts.snap
  src/filters/date/time/time.lang.en.json
  src/filters/date/time/time.lang.fr.json
  src/filters/date/time/time.spec.ts
  src/filters/date/time/time.stories.ts
  src/filters/date/time/time.ts
  src/filters/filter-names.ts
  tests/polyfills.js
Owners: @chuckmah, @fredduguay
